<section class="section">
  <div class="container about">
    <h2 class="section-title about-title">About <span>Us</span></h2>
    <p class="section-about-description">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div class="about-layout">
      <ol>
        <li><h3>Expert, innovative teaching staff</h3></li>
        <li><h3>Wide range of course levels and options</h3></li>
        <li><h3>Multicultural learning environment</h3></li>
        <li><h3>Comprehensive language support services</h3></li>
      </ol>

      <div class="about-image"></div>
    </div>
  </div>
</section>
