<section class="section">
  <div class="container about">
    <h2 class="section-title">About <span class="underlined">Us</span></h2>
    <p class="section-about-description">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div class="about-layout">
      <ol class="about-list">
        <li class="about-item">
          <h3 class="about-item-text">Expert, innovative teaching staff</h3>
        </li>
        <li class="about-item">
          <h3 class="about-item-text">
            Wide range of course levels and options
          </h3>
        </li>
        <li class="about-item">
          <h3 class="about-item-text">Multicultural learning environment</h3>
        </li>
        <li class="about-item">
          <h3 class="about-item-text">
            Comprehensive language support services
          </h3>
        </li>
      </ol>

      <figure>
        <img src="../img/about.png" alt="About Us" />
      </figure>
    </div>
  </div>
</section>
