<footer class="page-footer" id="footer">
  <div class="container">

    <div class="footer-top">
          <div class="footer-info">
            <a href="../index.html" class="footer-logo">english<span class="logo-accent">excellence</span>.</a>

            <address class="footer-contacts">
              <ul class="contact-list">
                <li class="contact-item">
                  <p class="contact-prg">Phone number:</p>
                  <a class="contacts-link" href="tel:+380684439426" >+380 (68) 443-94-26</a>
                </li>
                <li class="contact-item">
                  <p class="contact-prg">Address:</p>
                  <a class="contacts-link" href="https://www.google.com/maps?q=32a+M.+Bazhana+ave" target="_blank">32a M. Bazhana ave</a>
                </li>
              </ul>

            </address>

          </div>

          <nav class="footer-navigation">
            <ul class="footer-nav-list">
              <li class="footer-nav-item">
                <a class="footer-nav-link" href="#about-us" >About us</a>
              </li>
              <li class="footer-nav-item">
                <a class="footer-nav-link" href="#our-lessons" >Our lessons</a>
              </li>
              <li class="footer-nav-item">
                <a class="footer-nav-link" href="#teachers" >Teachers</a>
              </li>
              <li class="footer-nav-item">
                <a class="footer-nav-link" href="#reviews" >Reviews</a>
              </li>
              <li class="footer-nav-item">
                <a class="footer-nav-link" href="#contact-us" >Contact us</a>
              </li>
            </ul>
          </nav>

          <ul class="footer-media-list">
            <li class="footer-media-item">
              <a class="footer-media-link" href="https://www.facebook.com/goITclub/" target="_blank">
                <svg class="media-icon" width="26" height="26">
                  <use href="/img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-media-item">
              <a class="footer-media-link" href="https://www.instagram.com/goitclub/" target="_blank">
                <svg class="media-icon" width="26" height="26">
                  <use href="/img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-media-item">
              <a class="footer-media-link" href="https://www.youtube.com/c/GoIT" target="_blank">
                <svg class="media-icon" width="26" height="26">
                  <use href="/img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
    </div>

    <div class="footer-bottom">
      <p class="footer-bottom-prg">&copy;<time datetime="2023">2023</time><span class="bottom-brand">English Excellence.All rights reserved.</span></p>
      <ul class="bottom-list">
        <li class="bottom-item">
          <a class="bottom-link" href="./privacy-policy.html">Privacy Policy</a>
        </li>
        <li class="bottom-item">
          <a class="bottom-link" href="./terms-of-service.html">Terms of Service</a>
        </li>
      </ul>
    </div>


  </div>
</footer>
