<section class="hero">
  <div class="container">
    <div class="hero-wrapper">
      <h1 class="hero-title">
        Discover the joy of learning
        <span class="hero-accent">English</span> with us!
      </h1>
      <a class="hero-btn" href="#app-form-section">Leave an application</a>
      <a class="hero-scroll-btn" href="#footer" aria-label="Scroll down">
        <svg class="hero-scroll-icon" width="16" height="16">
          <use href="/img/icons.svg#icon-arrow-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
