<section class="section">
  <div class="container lessons-container">
    <span class="title-block">
      <h2 class="section-title">Our <span class="underlined">lessons</span></h2>
      <p class="undertitle">
        Our lessons are carefully structured and interactive, designed to
        promote rapid language acquisition through practical tasks and
        real-world scenarios
      </p>
    </span>
    <ul class="plan-list">
      <li class="plan-list-item">
        <p class="plan-tag">Practise</p>
        <p class="plan-price">40$ / month</p>
        <p class="plan-description">
          This plan offers an opportunity for learners to engage in
          collaborative language exercises and group activities, boosting their
          conversational skills and confidence in using English.
        </p>
        <a href="#app-form-section" class="plan-btn"
          >Leave an application</a
        >
      </li>
      <li class="plan-list-item">
        <p class="plan-tag">Standard</p>
        <p class="plan-price">70$ / month</p>
        <p class="plan-description">
          Our standard package provides a balanced learning approach that covers
          all key areas of English language - reading, writing, listening, and
          speaking. It is a set of basic knowledge and skills.
        </p>
        <a href="#app-form-section" class="plan-btn"
          >Leave an application</a
        >
      </li>
      <li class="plan-list-item">
        <p class="plan-tag">Individual</p>
        <p class="plan-price">99$ / month</p>
        <p class="plan-description">
          We offer a tailored learning experience with individualized
          instruction that focuses on a learner's specific language goals and
          challenges, offering personal feedback.
        </p>
        <a href="#app-form-section" class="plan-btn"
          >Leave an application</a
        >
      </li>
    </ul>
  </div>
</section>
