<section class="section teachers" id="teachers">
  <div class="container">
    <h2 class="section-title">Meet our <span class="underlined">teachers</span></h2>
    <p class="section-teachers-description">
      Discover our team of dedicated educators, committed to guiding you on your journey to English proficiency with personalized and engaging instruction
    </p>

    <ul class="teachers-list">
      <li class="teacher-card">
        <img src="./img/teachers/teacher-maria-1x.png"
          srcset="./img/teachers/teacher-maria-1x.png 1x, ./img/teachers/teacher-maria-2x.png 2x"
          alt="Teacher Maria" class="teacher-photo">
        <h3 class="teacher-name">Maria</h3>
        <p class="teacher-description">
          A seasoned linguist and our primary specialist in beginner-level instruction, Maria brings warmth and patience to every class
        </p>
      </li>
      <li class="teacher-card">
        <img src="./img/teachers/teacher-artem-1x.png"
          srcset="./img/teachers/teacher-artem-1x.png 1x, ./img/teachers/teacher-artem-2x.png 2x"
          alt="Teacher Artem" class="teacher-photo">
        <h3 class="teacher-name">Artem</h3>
        <p class="teacher-description">
          With his innovative teaching techniques and a focus on interactive learning, Artem excels in keeping students engaged and motivated
        </p>
      </li>
      <li class="teacher-card">
        <img src="./img/teachers/teacher-ilona-1x.png"
          srcset="./img/teachers/teacher-ilona-1x.png 1x, ./img/teachers/teacher-ilona-2x.png 2x"
          alt="Teacher Ilona" class="teacher-photo">
        <h3 class="teacher-name">Ilona</h3>
        <p class="teacher-description">
          A specialist in advanced English, Ilona provides intensive instruction, ensuring students gain confidence in complex language tasks
        </p>
      </li>
      <li class="teacher-card">
        <img src="./img/teachers/teacher-volodymyr-1x.png"
          srcset="./img/teachers/teacher-volodymyr-1x.png 1x, ./img/teachers/teacher-volodymyr-2x.png 2x"
          alt="Teacher Volodymyr" class="teacher-photo">
        <h3 class="teacher-name">Volodymyr</h3>
        <p class="teacher-description">
          Our expert in English for specific purposes, Volodymyr tailors his approach to meet individual career and industry-specific language needs
        </p>
      </li>
  </ul>
</section>
