.about {
  text-align: center;
}

.about-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.13;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
  display: inline-block;
  color: var(--black);
}

.section-about-description {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.about-title > span {
  position: relative;
  display: inline-block;
}

.about-title > span::after {
  content: "";
  position: absolute;
  left: -1px;
  bottom: -2px;
  width: 102%;
  height: 12px;
  border-radius: 8px;
  z-index: -1;
  background-color: var(--light-green);
}

@media (min-width: 768px) {
  .about-title {
    font-size: 40px;
    line-height: 1.2;
  }

  .about-title > span::after {
    bottom: 0;
    height: 16px;
  }

  .section-about-description {
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 64px;
    max-width: 709px;
  }
}

.about .about-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: stretch;
}

.about .about-layout ol {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  counter-reset: about-item;
}

.about .about-layout li {
  counter-increment: about-item;

  background: #f3f5f7;
  border-radius: 18px;
  padding: 32px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  min-height: 160px;
}

.about .about-layout li::before {
  content: counter(about-item, decimal-leading-zero);
  color: #33c46f;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
}

.about .about-layout li h3 {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #121417;

  text-decoration: none;
  border: 0;
  background: none;
}

.about .about-layout .about-image {
  width: 100%;
  border-radius: 28px;
  background: #41c06c;

  padding: 28px;
  position: relative;
  overflow: hidden;

  aspect-ratio: 11 / 11;

  background-image: url("../img/about.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70% auto;
}

.about .about-layout .about-image::before {
  content: "";
  position: absolute;
  inset: 22px;
  border-radius: 20px;
  pointer-events: none;
}

@media (min-width: 768px) {
  .about .about-layout {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .about .about-layout ol {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
  }

  .about .about-layout .about-image {
    aspect-ratio: 3 / 1;
    background-size: auto 85%;
  }
}

@media (min-width: 1280px) {
  .about .about-layout {
    grid-template-columns: 1fr 310px;
    gap: 32px;
  }

  .about .about-layout ol {
    gap: 32px;
  }

  .about .about-layout li {
    padding: 32px;
  }

  .about .about-layout .about-image {
    aspect-ratio: 310 / 352;
    background-size: 85% auto;
  }
}

