.about {
  text-align: center;
}

.section-about-description {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0;
  color: var(--primary-text-color);
}

.about-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-item {
  counter-increment: about-item; 

  background: var(--gray);
  border-radius: 16px;
  padding: 32px;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.about-item::before {
  content: counter(about-item, decimal-leading-zero);
  color: var(--green);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: -0.02em;
}

.about-item-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--black);
  text-align: left;
}

.about .about-layout figure {
  margin: 0;
  width: 100%;
  height: 313px;
  border-radius: 28px;
  background: #41c06c;

  display: grid;
  place-items: center;

  padding: 22px;
  position: relative;
  overflow: hidden;

  aspect-ratio: 16 / 11;
}

.about .about-layout figure::before {
  content: "";
  position: absolute;
  inset: 22px;
  border-radius: 20px;
  pointer-events: none;
}

.about .about-layout figure img {
  display: block;
  max-width: 70%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .section-about-description {
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 64px;
    max-width: 658px;
  }

  .about-layout {
    gap: 32px;
  }

  .about-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .about-item {
    width: calc((100% - 32px) / 2);
    border-radius: 30px;
  }

  .about .about-layout figure {
    aspect-ratio: auto;
  }

  .about .about-layout figure img {
    max-width: 85%;
  }
}

@media screen and (min-width: 1280px) {
  .about-layout {
    flex-direction: row;
  }

}
