@media screen {
  .app-form-thumb {
    display: none;
  }

  .app-form {
    margin-inline: auto;
  }

  .form-input {
    width: 100%;
    height: 50px;
    margin-bottom: 18px;
    border: 1px solid rgb(var(--black-rgb) / 0.1);
    border-radius: 12px;
    padding-left: 18px;
    outline: transparent;
    transition: border-color var(--transition-duration-and-func);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgb(var(--black-rgb) / 0.8);
  }

  .form-input:focus {
    border-color: var(--green);
  }

  .form-text-area {
    padding-top: 16px;
    resize: none;
    height: 94px;
    margin-bottom: 20px;
  }

  .app-form-teacher-group {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding-inline: 0;
    padding-block: 0;
    margin-bottom: 40px;
    border: none;
  }

  .app-form-teacher-group-title {
    margin-bottom: 14px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: var(--black);
  }

  .radio-label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: -0.02em;
    color: var(--black);
  }

  .radio-input {
    display: none;
  }

  .custom-radio {
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 50%;
    position: relative;
    transition: border-color var(--transition-duration-and-func);
  }

  .custom-radio::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--green);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform var(--transition-duration-and-func);
  }

  .radio-input:checked + .custom-radio {
    border-color: var(--green);
  }

  .radio-input:checked + .custom-radio::after {
    transform: translate(-50%, -50%) scale(1);
  }

  .app-form-submit-button {
    margin-bottom: 16px;
  }

  .form-privacy-policy {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
  }

  .form-privacy-policy-link {
    text-decoration: underline;
  }
}

@media screen and (min-width: 768px) {
  .app-form-section-description {
    max-width: 586px;
  }

  .app-form {
    max-width: 500px;
  }

  .form-input {
    height: 56px;
    font-size: 16px;
    line-height: 1.5;
  }

  .form-text-area {
    height: 104px;
    margin-bottom: 32px;
  }

  .app-form-teacher-group {
    flex-direction: row;
    column-gap: 16px;
    margin-bottom: 32px;
  }

  .app-form-teacher-group-title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 16px;
  }

  .form-privacy-policy {
    font-size: 14px;
    line-height: 1.71;

  }
}

@media screen and (min-width: 1280px) {
  .app-form-wrapper {
    display: flex;
    gap: 32px;
  }

  .app-form-thumb {
    flex: 1;
    display: block;
    background-color: var(--green);
    border-radius: 30px;
  }

  .app-form {
    max-width: 500px;
  }
}