html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

input,
textarea {
  border: none;
  outline: none;
  background: none;
  font: inherit;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

body {
  font-family: var(--primary-font), sans-serif;
  background-color: var(--white);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-wrapper {
  padding-top: 68px;
}

.section {
  padding: 76px 0 4px;
}

.section:first-child {
  padding-top: 8px;
}

.section:last-of-type {
  padding-bottom: 80px;
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.13;
  letter-spacing: -0.02em;
  display: block;
  text-align: center;
  margin-bottom: 16px;
  color: var(--black);
}

.section-description {
  margin-inline: auto;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: var(--primary-text-color);
}

.section-title .underlined {
  position: relative;
  display: inline-block;
}

.section-title .underlined::after {
  content: '';
  position: absolute;
  left: -1px;
  bottom: -2px;
  width: 102%;
  height: 12px;
  border-radius: 8px;
  z-index: -1;
  background-color: var(--light-gradient-green);
}

.button {
  border-radius: 12px;
  padding-block: 14px;
  width: 100%;
  background-color: var(--green);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white);
  transition: background-color var(--transition-duration-and-func);
}

.button:hover,
.button:focus {
  background-color: var(--dark-green);
}

@media screen and (min-width: 768px) {

  body {
    font-size: 18px;
    line-height: 1.67;
  }

  .section {
    padding: 100px 0 0;
  }

  .section:first-child {
    padding-top: 32px;
  }

  .section:last-of-type {
    padding-bottom: 100px;
  }

  .section-title {
    font-size: 40px;
    line-height: 1.2;
  }

  .section-description {
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 64px;
  }

  .section-title .underlined::after {
    bottom: -3px;
    height: 20px;
  }

  .button {
    padding-block: 16px;
    font-size: 18px;
    line-height: 1.56;
  }
}

@media screen and (min-width: 1280px) {

  .section-wrapper {
    padding-top: 84px;
  }

  .section {
    padding: 100px 0 50px;
  }

  .section:first-child {
    padding-top: 16px;
    padding-bottom: 21px;
  }

  .section:last-of-type {
    padding-bottom: 150px;
  }
}
