.page-footer {
  background-color: var(--black);
  padding-top: 40px;
  padding-bottom: 20px;
  line-height: 1.29;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-top {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-logo {
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: var(--white);

}

.logo-accent {
  color: var(--green);
}

.footer-contacts {
  font-style: normal;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.contact-prg {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgb(255 255 255 / 0.6);
  opacity: 0.9;
  margin-bottom: 4px;
}

.contacts-link {
  font-weight: 600;
  font-size: 14px;
  color: var(--white);

}

.footer-nav-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.footer-nav-link {
  font-weight: 600;
  font-size: 14px;
  color: var(--white);
}

.footer-media-list {
  display: flex;
  gap: 12px;
}

.footer-media-item {
  width: 42px;
  height: 42px;
}

.footer-media-link {
  border: 1px solid rgb(255 255 255 / 0.1);
  border-radius: 10px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--white);
  opacity: 0.8;
}

.footer-bottom {
  border-top: 1px solid rgb(255 255 255 / 0.1);

  display: flex;
  flex-direction: column;
  gap: 17px;
  padding-top: 17px;

}

.footer-bottom-prg {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgb(255 255 255 / 0.6);

}

.bottom-list{
  display: flex;
  gap: 18px;
}

.bottom-item{
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;

  color: rgb(255 255 255 / 0.6);
}
.bottom-brand {
  margin-left: 6px;
}

@media only screen and (min-width: 768px) {
  .page-footer {
    padding-top: 32px;
    padding-bottom: 16px;
    line-height: 1.1;

  }
  .footer-container {
    gap: 110px;
  }
  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .footer-media-item {
    width: 44px;
    max-height: 44px;
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .page-footer {
    padding-top: 64px;
    padding-bottom: 23px;
  }

.footer-container {
  gap: 64px;
}


  .contacts-link {
    transition: color var(--transition-duration-and-func);
  }

  .contacts-link:hover,
  .contacts-link:focus {
    color: var(--dark-green);
  }

  .footer-nav-link {
    transition: color var(--transition-duration-and-func);
  }
  .footer-nav-link:hover,
  .footer-nav-link:focus {
    color: var(--dark-green);
  }

  .footer-media-link{
    transition: color var(--transition-duration-and-func), border-color var(--transition-duration-and-func), fill var(--transition-duration-and-func) ;
  }

  .footer-media-link:hover,
  .footer-media-link:focus {
    fill: var(--green);
    border-color: var(--green);
  }

  .bottom-link {
    transition: color var(--transition-duration-and-func);
  }
  .bottom-link:hover,
  .bottom-link:focus {
    color: var(--dark-green);
  }



}