.hero-wrapper {
  position: relative;
  padding: 425px 20px 72px;
  border-radius: 30px;
  overflow: hidden;
  background-image: url(../img/hero/girl-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  max-width: 335px;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.05;
  letter-spacing: -0.02em;
  color: var(--white);
}

.hero-accent {
  color: var(--green);
}

.hero-btn {
  display: block;
  max-width: 335px;
  padding: 14px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0;
  color: var(--white);
  background-color: var(--green);
  border-radius: 12px;
}

.hero-scroll-btn {
  position: absolute;
  bottom: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--white);
  fill: var(--green);
}

.hero-scroll-icon {
  width: 16px;
  height: 16px;
  margin-top: 4px;
}

/* Mobile retina */
@media screen and (min-resolution: 192dpi),
  screen and (-webkit-min-device-pixel-ratio: 2) {
  .hero-wrapper {
    background-image: url(../img/hero/girl-mobile@2x.jpg);
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .hero-wrapper {
    padding: 260px 32px 295px;
    background-image: url(../img/hero/girl-tablet.jpg);
  }

  .hero-title {
    max-width: 488px;
    font-size: 60px;
    line-height: 1.17;
  }

  .hero-btn {
    display: inline-block;
    max-width: none;
    padding: 16px 48px;
    font-size: 18px;
    line-height: 1.6;
  }

  .hero-scroll-btn {
    width: 48px;
    height: 48px;
    bottom: 32px;
    right: 32px;
  }
}

/* Tablet retina */
@media screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .hero-wrapper {
    background-image: url(../img/hero/girl-tablet@2x.jpg);
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .hero-wrapper {
    padding: 164px 64px;
    background-image: url(../img/hero/girl-desktop.jpg);
  }

  .hero-title {
    max-width: 564px;
  }

  .hero-btn {
    transition: background-color var(--transition-duration-and-func);
  }

  .hero-btn:hover,
  .hero-btn:focus {
    background-color: var(--dark-green);
  }

  .hero-scroll-btn {
    bottom: 32px;
    right: 32px;
    transition:
      background-color var(--transition-duration-and-func),
      fill var(--transition-duration-and-func);
  }

  .hero-scroll-btn:hover,
  .hero-scroll-btn:focus {
    fill: var(--white);
    background-color: var(--dark-green);
  }
}

/* Desktop retina */
@media screen and (min-width: 1280px) and (min-resolution: 192dpi),
  screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
  .hero-wrapper {
    background-image: url(../img/hero/girl-desktop@2x.jpg);
  }
}
