
@import url('./variables.css');
@import url('./container.css');
@import url('./common.css');


/* Sections style */
@import url('./header.css');

@import url('./hero.css');
@import url('./about.css');
@import url('./lessons.css');
@import url('./features.css');
@import url('./teachers.css');
@import url('./application-form.css');
@import url('./reviews.css');

@import url('./footer.css');
