.section-teachers-description {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: var(--primary-text-color);
}

.teachers-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.teacher-card {
  background-color: var(--color-white);
  color: rgba(18, 20, 23, 0.5);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.teacher-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;

  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.teacher-card:hover .teacher-photo {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.teacher-name {
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black);
}

.teacher-description {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: var(--primary-text-color);
}

@media (min-width: 768px) {

  .section-teachers-description {
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 64px;
    max-width: 709px;
  }

  .teachers-list {
    max-width: 576px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
  }

  .teacher-card {
    width: calc((100% - 32px) / 2);
  }

  .teachers-description {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1280px) {

  .teachers-list {
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  .teacher-card {
    width: calc((100% - 96px) / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}